@CHARSET "UTF-8";

body {
	background-color: #fff;
	margin: 0;
	padding: 0;
	text-align: center;
}

* { color: #888; margin: 0; }

h1 > a { text-decoration: none; }

div#top {
	left: 0; top: 0; right: 0;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-color: #888;
	padding: 5px;
	background-color: #ddd;
}
